/* global */

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
}

/* app.jsx */

.container {
  max-width: 80rem;
  margin: auto;
}

.videoContainer {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}
